# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Firebase Admin Key (NEVER COMMIT THIS!)
firebase-admin-key.json
**/firebase-admin-key.json
gal-shemesh-firebase-adminsdk-*.json
naorbaruch-*.json
*-firebase-adminsdk-*.json
google-services-*.json

# Google Play Service Account (NEVER COMMIT THIS!)
google-play-service-account.json
*-service-account.json
**/google-play-service-account.json

# Scripts output (contains passwords!)
scripts/output/
scripts/*.csv
!scripts/example-users.csv

ios/Pods/
